html(lang='ja')
    head
        link(href='https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,900&display=swap&subset=japanese' rel='stylesheet')
        style= style
    body
        header
            h1 講義オンライン化に関する情報サイト 更新情報
            p [#{currentDateStr}] 特設サイトが更新されました。(前回の更新: #{lastUpdated})
            hr
        main
            each diff in diffs
                if diff.type == 'added'
                    div.added
                        strong + 追加:
                        each par in diff.value
                            p= par
                if diff.type == 'removed'
                    div.removed
                        span - 削除:
                        each par in diff.value
                            p: del= par
                if diff.type == 'no-change-head'
                    div.no-change
                        each par in diff.value
                            p= par
                if diff.type == 'no-change-tail'
                    div.omission: p ... (中略)
                    div.no-change
                        each par in diff.value
                            p= par
            div.omission: p ... (中略)
        footer
            hr
            p この画像は#{' '}
                strong 非公式#{' '}
                | Twitter bot @UT_COVID19 が自動生成したものです。
                | (生成日時: #{currentDateStr})
                br
                strong 状況は常に変化しています。この変更内容も古くなるかもしれません。
                | 判断を下す前に、必ず公式ページで最新の内容を確認してください。